<div class="columns">
  <div class="column main">
    <fieldset>
      <%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
        <%= devise_error_messages! %>

        <%= f.label :email %>
        <%= f.email_field :email %>
        <%= f.submit "Resend confirmation instructions" %>
      <% end %>
    </fieldset>
  </div>

  <div class="column secondary">
    <p>Advice pending...</p>
  </div>
  <div class="clear"></div>
</div>

<%= render :partial => "devise/shared/links" %>
