<p>
  <b><%= t 'activerecord.attributes.assignment.name' %></b>
  <%= @assignment.name %>
</p>

<p>
  <b><%= t 'activerecord.attributes.assigment.code' %></b>
  <%= @assignment.code %>
</p>

<p>
  <b><%= t 'activerecord.attributes.assignment.term' %></b>
  <%= @assignment.term %>
</p>


<%= link_to t('links.edit'), edit_assignment_path(@assignment) %> |
<%= link_to t('links.list'), assignments_path %>
