<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @assignment.name %>
</p>

<p>
  <b>Code:</b>
  <%= @assignment.code %>
</p>

<p>
  <b>Term:</b>
  <%= @assignment.term %>
</p>


<%= link_to 'Edit', edit_assignment_path(@assignment) %> |
<%= link_to 'Back', assignments_path %>
