<table>
  <thead>
    <tr>
      <th><%= t 'activerecord.attributes.user.username' %></th>
      <th><%= t 'activerecord.attributes.user.email' %></th>
      <th><%= t 'activerecord.attributes.user.roles' %></th>
      <th><%= t 'headers.actions' %></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr class="<%= cycle(:odd, :even) %>">
        <td><%= user.username %></td>
        <td><%= user.email %></td>
        <td><%= user.role_names %></td>
        <td>
          <%= link_to t('links.edit'), edit_user_path( user ) %> |
          <%= link_to t('links.delete'), user_path(user), :method => :delete %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @users %>
<%= link_to t('links.new'), new_study_plan_path %>